<body>
  <div class="container d-flex">
    <div>
      <img
        src="https://i.etsystatic.com/34721648/r/il/ad646f/6251275795/il_570xN.6251275795_bgat.jpg"
        alt="posters collage"
      />
    </div>
    <div>
      <div class="container">
        <h1>Create an account</h1>
        <p>
          Already have an account?
          <a *ngIf="!isLoggedIn" routerLink="/auth/login">Log in</a>
        </p>
        <form>
          <input
            type="text"
            class="form-control mb-3"
            placeholder="Name"
            name="nome"
            [(ngModel)]="formData.name"
          />
          <input
            type="email"
            class="form-control mb-3"
            placeholder="Email"
            name="email"
            [(ngModel)]="formData.email"
          />
          <input
            type="password"
            class="form-control mb-3"
            placeholder="Password"
            name="password"
            [(ngModel)]="formData.password"
          />
          <button (click)="register()" class="btn btn-success">
            Create account
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
