@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

img {
  object-fit: cover;
}

.cards {
  border: 5px solid #2b2638;
  color: #2b2638;
  min-height: 850px;
}

body {
  padding-bottom: 5rem;
  background-color: #bdbac5;
  font-family: "Montserrat", sans-serif;
}

button {
  color: #2b2638;
  &:hover {
    background-color: #2b2638;
  }
}
