@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #bdbac5;
  height: 100vh;
  padding-top: 3rem;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.cards {
  border: 5px solid #2b2638;
  color: #2b2638;
  min-height: 600px;
  margin-bottom: 6rem;
}

h3 {
  color: #2b2638;
  text-align: center;
}

p {
  text-align: center;
}

.userinfo {
  background-color: #676179;
  padding-block: 0.5rem;
  margin-bottom: 2rem;
}
